/* Fuentes y colores */
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

body {
    margin: 0;
    padding: 0;
}

* {
    box-sizing: border-box;
}

*::before,
*::after {
    box-sizing: inherit;
}

#app {
    font-family: 'Roboto', sans-serif;
}



.content {
    display: flex;
    height: 100vh;
    flex-direction: row;
} 

iframe {
    height: 100%;
    width: 100%;
    border: none;
    outline: none;
}

textarea {
    height: 100%;
    width: 100%;
    background-color: #333;
    border: none;
    color: #fff;
    outline: none;
    resize: none;
    padding: 20px 0 20px 10px;
}

.gutter {
    cursor: col-resize;
    background-color: #424242;
    background-repeat: no-repeat;
    background-position: 50%;
}
.gutter.gutter-horizontal {
    cursor: col-resize;
}