/* Fuentes y colores */
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

html, body {
    margin: 0;
    padding: 0;
    overflow: hidden;
}

* {
    box-sizing: border-box;
}

*::before,
*::after {
    box-sizing: inherit;
}

#app {
    font-family: 'Roboto', sans-serif;
}



.content {
    display: flex;
    height: 100vh;
    flex-direction: row;
} 

iframe {
    height: 100%;
    width: 100%;
    border: none;
    outline: none;
}

textarea {
    height: 100%;
    width: 100%;
    background-color: #333;
    border: none;
    color: #fff;
    outline: none;
    resize: none;
    position: relative;
    padding: 20px 0 20px 10px;
    background-size: 40px;
    background-repeat: no-repeat;
    background-position: calc(100% - 20px) calc(100% - 20px);
}

#html{
    background-image: url(public/html.png);
}

#html:hover, #html:focus{
    background-image: url(public/html-transparent.png);
}

#css{
    background-image: url(public/css.png);
}

#css:hover, #css:focus{
    background-image: url(public/css-transparent.png);
}

#js{
    background-image: url(public/js.png);
}

#js:hover,#js:focus {
    background-image: url(public/js-transparent.png);
}

@media only screen and (max-height: 200px) {
    #html{
        background-image: none;
    }
    #css{
        background-image: none;
    }
    #js{
        background-image: none;
    }
}

.gutter {
    cursor: col-resize;
    background-color: #424242;
    background-repeat: no-repeat;
    background-position: 50%;
}
.gutter.gutter-horizontal {
    cursor: col-resize;
}